<!DOCTYPE html>
<html>
<head>
    <title>我的平台</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- 引入 Bootstrap 等框架代码 -->
    <link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/lib/bootstrap-table.min.css" rel="stylesheet">
    <link href="/static/css/lib/AdminLTE.min.css" rel="stylesheet">
    <link href="/static/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/lib/skin-blue.min.css" rel="stylesheet">

    <!-- 引入项目代码 -->
    <link href="/static/ico/favicon.ico" rel="shortcut icon">
    <link href="/static/css/app/default.css" rel="stylesheet">
</head>

<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">
    <header class="main-header navFixed">
        <a href="/" class="logo">
            <span class="logo-mini">P</span>
            <!--<span class="logo-lg">PENEDU 平台</span>-->
        </a>

        <nav class="navbar navbar-static-top navbar-fixed-top" role="navigation">
            <a class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
            <div ui-view="user"></div>
        </nav>
    </header>
    <aside class="main-sidebar navFixed">
        <section class="sidebar">
            <div ui-view="menu"></div>
        </section>
    </aside>

    <div class="content-wrapper marginTop50">
        <section class="content-header">
            <div ui-view="header"></div>
        </section>

        <section class="content">
            <div ui-view="content"></div>
        </section>
    </div>

    <footer class="main-footer">
    </footer>
</div>

<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/lib/angular.min.js"></script>
<script src="/static/js/lib/angular-ui-router.min.js"></script>
<script src="/static/js/lib/bootstrap.min.js"></script>
<script src="/static/js/lib/bootstrap-table.min.js"></script>
<script src="/static/js/lib/app.min.js"></script>
<script data-main="/static/js/state/main.js" src="/static/js/lib/require.js"></script>

</body>
</html>
